@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1465568411_2750556.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1465568411_2750556.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1465568411_2750556.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1465568411_2750556.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1465568411_2750556.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                                       
                    
*{
	margin:0;
	padding:0;
}
body{
	font-size:14px;
	font-family: "微软雅黑"；
}
.clearfix:after{
	clear:both;
	content: "";
	display: block;

}
.common-title{
	border-left: 3px solid #88C5E1;
	line-height:34px;
	font-size:18px;
	padding-left:18px;
	margin-top:40px;
}

.iconfont{
 font-family: 'iconfont';	
}

/********************************* 头部页面 *******************************/
header{
	height: 42px;
	padding: 12px 0;
	background: #88c5e1;
	border:none;
	border-bottom:5px solid #54abd4;
}
header>.container{
	width:1170px;
	height: 42px;
	margin:0 auto;
	background: #88c5e1;
}
header .container_left{
	width: 290px;
	height: 40px;
	padding: 0 15px;
	float: left;
}
header .container_left img{
	width: 186px;
	height: 40px;
}
header .container_center{
	width: 450px;
	height: 40px;
	padding: 0 5px;
	float: left;
	position: relative;
}
header .container_center input{
	width:430px;
	height: 30px;
	padding:5px 10px;
	border:none;
	border-radius: 2px;
}
header .container_center .iconfont{
	position: absolute;
	top:15px;
	right: 20px;
}
header .container_right{
	height: 42px;
	float: right;
	text-align: right;
}
header .container_right>ul{
	float: right;
	padding: 0 5px;
}
header .container_right>ul li{
	list-style: none;
	float:left;
}
header .container_right>ul li a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	height: 42px;
	display: inline-block;
	text-align: center;
	line-height: 42px;
	margin:0 10px;
	
}
header .container_right>ul .underline,header .container_right>ul .active{
	border-bottom:2px solid #fff;

}

/*************************************** 尾部 **************************************/
footer{
	background: #333;
}
.footer{
	width: 1170px;
	margin: auto;
	/*background: pink;*/
}
.footer .menu{
	list-style: none;
	padding:10px 0;
	padding-top: 15px;
	text-align: center;
	color:#fff;
}
.footer .menu li{
	display: inline-block;
	margin: 0 8px;
}
.footer .menu>li>a{
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}
.footer p{
	text-align: center;
	font-size: 14px;
	color: #ccc;
	padding: 30px;
	padding-top: 10px;
}
